.logo {
    width: 210px;
    height: 80px;
}

.header-style {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: auto;
}

.nav-link a {
    width: 500px;
    margin-left: 50px;
    text-decoration: none;
    color: red;
}