.logo {
    width: 210px;
}

.header-style {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: auto;padding: 20px;
}

.nav-link a {
    width: 500px;
    margin-left: 50px;
    text-decoration: none;
    color: $primary;
    font-size: 24px;
    font-family: $font-family-primary;
}





// RESPONSIVE TABLET
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo{
        padding: 10px;
    }
    .nav-link{
        a{
            margin-left: 0;
            
            padding: 10px;
        }
        
    }
    
}


// RESPONSIVE MOBILE HORRIZONTAL
@media screen and (min-width: 481px) and (max-width: 768px) {
    .logo {
        width: 145px;  
        padding: 10px;
    }

    .nav-link{
        padding: 5px;

        a{
            margin-left: 0;
            padding: 10px;text-transform: uppercase;
            font-size: 15px;
        }
    }
    
}

// RESPONSIVE MOBILE

@media screen and (max-width: 480px) {

    .logo {
      width: 145px;  
    }

    .nav-link a {
        width: 140px;
        font-size: 12px;
        padding: 10px;
        margin-left: 0;
        text-transform: uppercase;
        font-family: $font-family-primary;
        // &:first-child {
        //     text-decoration: underline;
        // }
        &:hover {
            text-decoration: underline;
        }
    }

}