.error-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ED6C6C;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: #ED6C6C;
}